@import "./assets/scss/mixins/fontface";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@include fontface("Aeonik", "../fonts/Aeonik-Bold", bold);
@include fontface("Aeonik", "../fonts/Aeonik-Medium", 500);

html {
    background: $main;
    color: $secondary;
}

body { overflow: scroll }

::selection { background: $highlight; color: $main }
::-webkit-scrollbar { width: 5px }
::-webkit-scrollbar-track { background: $main }
::-webkit-scrollbar-thumb {
    background: $highlight;
    border-radius: 5px;

    &:hover {background: darken($highlight, 10);}
}
::-webkit-scrollbar-button:decrement,
::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-corner {
    width: 0; height: 0;
}

html, body, #__nuxt, #__layout, .layout-wrapper {
    height: 100%;
    box-sizing: content-box;
    scrollbar-color: $highlight $main;
    scrollbar-width: thin;
    font-family: "Aeonik", sans-serif;
}

h1,h2,h3,p { font-family: "Aeonik", sans-serif }

.layout-wrapper {
    display: flex;
    flex-flow: column nowrap;
}
